<form class="mt-4" method="post" action="/news/store">
  <p>Tao moi</p>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nhap name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="name">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nhap mo ta</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="description" placeholder="description">
  </div>
  <div>
    <input type="submit" class="mb-3" value="Them news" id="">
  </div>
</form>
